body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #181818;
    color: white;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #111;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-right: 1px solid #333;
}

.sidebar button {
    background: none;
    border: none;
    color: white;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.sidebar button:hover {
    background: #222;
}

/* MAIN AREA */
.mainContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* PROFILE */
#profile {
    display: none;
}

#avatar {
    border-radius: 50%;
    vertical-align: middle;
}

/* BUTTONS */
button {
    background: #2d7dff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

/* CONTENT */
#contentArea {
    margin-top: 20px;
}

#loginPanel {
    margin:10px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18%;

}

#profileSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#name {
  display: inline;
  vertical-align: -5px;
  margin: 0;
}

#email {
    font-size: 15px;
}

